// 480px
// 768px
// 992px
// 1200px

[class^="grid-"]{
    float: left;
    max-width: 100%;

    position: relative;
}

[class^="grid-col-"]{
    padding-left: 10px;
    padding-right: 10px;
}

.grid{

    &-container{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 768px;

        @include media-min( $screen-md ){
            width: 992px;
        }

        @include media-min( $screen-lg ){
            width: 1200px;
        }

        .grid-align{
            text-align: center;

            .grid-align-col{
                display: inline-block;
                float: none;
                margin-left: -4px;
                text-align: left;
                vertical-align: top;
            }

        }

    }

    &-container,
    &-row{
        float: none;
    }

    &-row{
        margin-left: -10px;
        margin-right: -10px;
    }

}
