input{
    border: none;
    max-width: 100%;
    width: 100%;
    font-size: 14px;

    @include media-min( $screen-xs ){
        font-size: 16px;
    }

    &.is-lg{
        padding: 20px 60px;

        background-color: $white;
    }

}
