.header{

    &-nav{
        float: right;
    }

    &-navbar-case{
        background-color: $white;
        height: 60px;
        width: 100%;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 111;

        @include media-min( $screen-md ){
            height: 80px;
        }

    }

    &-logo{
        float: left;

        img{
            margin-top: 10px;
            width: 120px;

            @include media-min( $screen-md ){
                width: 185px;
            }

        }

    }

    &-user-info{
        float: right;
        line-height: 1.2;
        margin-top: 6px;
        text-align: right;
        width: 150px;

        @include media-min( $screen-xss ){
            line-height: 1.5;
            margin-top: 8px;
            width: auto;
        }

        @include media-min( $screen-xs ){
            margin-top: 5px;
        }

        @include media-min( $screen-md ){
            margin-top: 20px;
        }

        .user-info-name{
            color: $tertiary-color;
        }

    }

}
