.search-box{
    position: relative;

    .icon{
        @include vertical-align( absolute );

        color: $gray;
        font-size: 22px;
        pointer-events: none;

        left: 25px;
    }

    input{
        @include border-radius( 10px );

        width: 100%;

        &:focus{
            border: none;
        }

    }

    &.is-focus{

        .icon{
            color: $secondary-color;
        }

    }

}
