.color{

    &-bg{

        &-primary{
            background-color: $primary-color;
        }

        &-primary-light{
            background-color: $primary-color-light;
        }

        &-tertiary{
            background-color: $tertiary-color;
        }

        &-tertiary-light{
            background-color: $tertiary-color-light;
        }

        &-light{
            background-color: $white;
        }

        &-gray{
            background-color: $gray;
        }

    }

}
