@font-face {
    font-family: 'gosi';
    src:  url( $font-path + 'gosi.eot' );
    src:  url( $font-path + 'gosi.eot' ) format( 'embedded-opentype' ),
        url( $font-path + 'gosi.ttf' ) format( 'truetype' ),
        url( $font-path + 'gosi.woff' ) format( 'woff' ),
        url( $font-path + 'gosi.svg' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    @include font-smoothing;

    font-family: 'gosi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-magnifying-glass:before {
    content: "\e900";
}

.font-bold{
    font-weight: bold;
}
