*{
    &,
    &:before,
    &:after{
        box-sizing: border-box;
    }

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style-type: none;
}

body{
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: $body;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    @include media-min( $screen-xs ){
        font-size: 16px;
    }

}

html{

    &.is-section-full{
        &,
        body,
        .main,
        section{
            height: 100%;
        }
    }

}

.display{

	&-table{
		display: table;
		padding: 50px 0;
		width: 100%;
	}

	&-middle{
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		position: relative;

	}

}

a{
    color: $secondary-color;
}

.has-box-shadow{
    @include input-boxshadow;
}

.push-in{
    padding-left: 10px;
    padding-right: 10px;

    @include media-min( $screen-md ){
        padding-left: 30px;
        padding-right: 30px;
    }

}
