*{
	@include box-sizing ( border-box );
}

:focus { outline: none!important; }
::-moz-focus-inner { border: 0!important; }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
