h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-weight: normal;
}

h1,
.h1{
    font-size: 35px;

    @include media-min( $screen-xs ){
        font-size: 40px;
    }

    @include media-min( $screen-md ){
        font-size: 45px;
    }

}

h2,
.h2{
    font-size: 30px;

    @include media-min( $screen-xs ){
        font-size: 35px;
    }

    @include media-min( $screen-md ){
        font-size: 40px;
    }

}

h3,
.h3{
    font-size: 25px;

    @include media-min( $screen-xs ){
        font-size: 30px;
    }

    @include media-min( $screen-md ){
        font-size: 35px;
    }

}

h4,
.h4{
    font-size: 22px;

    @include media-min( $screen-xs ){
        font-size: 25px;
    }

    @include media-min( $screen-md ){
        font-size: 30px;
    }

}

h5,
.h5{
    font-size: 18px;

    @include media-min( $screen-xs ){
        font-size: 20px;
    }

    @include media-min( $screen-md ){
        font-size: 25px;
    }

}

h6,
.h6{
    font-size: 20px;
}

p{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0;

    @include media-min( $screen-xs ){
        font-size: 16px;
    }

}

a{
    color: $primary-color-dark;

    &:hover{
        text-decoration: underline;
    }

}
