.btn{
    background-color: $white;
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px;
    width: 100%;

    &-full-bleed{
        width: 100%;
    }

    &-primary{
        background-color: $primary-color-dark;
        color: $white;
    }

    &:hover{
        opacity: .7;
        text-decoration: none;
    }

    &.btn-bg-transparent{
        background-color: transparent;
    }

}

input[type="file"]{
    cursor: pointer;
    height: 100%;
    opacity: 0;
    width: 100%;

    left: 0;
    position: absolute;
    top: 0;
}
