.grid{

    &-col-60{
        width: 60%;
    }

    &-col-50{
        width: 50%;
    }

    &-col-40{
        width: 40%;
    }

    &-col-25{
        width: 50%;

        @include media-min( $screen-sm ){
            width: 25%;
        }

    }

    &-col-30-3{
        width: calc( 100% / 3 );
    }

    &-col-offset-60{
        left: 60%;
    }

    &-col-offset-20{
        left: 20%;
    }

}
