img{
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}

.center-image{
    background-color: $primary-color;
    overflow: hidden;

    position: relative;

    img{
        @include center-image;
    }

}
