input{
    height: 40px;
    padding: 0 15px;

    @include media-min( $screen-xs ){
        height: 48px;
    }

    @include media-min( $screen-sm ){
        padding: 0 20px;
    }

    &:focus{
        outline: 0;
    }

}

textarea,
input{
    border: 1px solid $gray-ef;
    width: 100%;

    &:focus{
        border: 1px solid $tertiary-color-light;
    }

}

textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 15px;

    @include media-min( $screen-xs ){
        font-size: 16px;
    }

    @include media-min( $screen-sm ){
        padding: 20px 25px;
    }


}

.input{

    &-textarea{

        &.textarea-lg textarea{ height: 330px; }

        &.textarea-sm textarea{ height: 120px; }

    }

    &-upload{
        width: 100%;
        text-align: center;

        @include media-min( $screen-xss){
            width: 270px;
        }

    }

    &-radio{

        .radio-item{
            margin-bottom: 10px;
        }

    }

    &-checkbox{

        input{ display: none;}

        label{
            cursor: pointer;

            position: relative;

            &:before {
                background-color: transparent;
                border: 1px solid $gray-64;
                display: inline-block;
                height: 16px;
                margin-right: 15px;
                width: 16px;

                top: 2px;
                position: relative;
            }

            &:after{
                @include transform( rotate( 45deg ) );

                display: none;
                width: 5px;
                height: 10px;
                border-right: 2px solid $primary-color-dark;
                border-bottom: 2px solid $primary-color-dark;

                position: absolute;
                top: 5px;
                left: 6px;

            }

            &:after,
            &:before{
                content:'';
            }

        }

        input:checked + label:after {
            display: block;
        }

    }

    &-case{

        &.has-more-input{

            .input-text{
                margin-bottom: 10px;

                &:last-of-type{
                    margin-bottom: 0;
                }

            }

        }

        &.is-select-text{
            display: table;

            .input-mix{
                float: left;

                &:first-of-type{
                    width: 50%;

                    @include media-min( $screen-xs ){
                        width: 30%;
                    }

                    @include media-min( $screen-lg ){
                        width: 20%;
                    }


                }

                &:last-of-type{
                    padding-left: 10px;
                    width: 50%;

                    @include media-min( $screen-xs ){
                        padding-left: 20px;
                        width: 70%;
                    }

                    @include media-min( $screen-lg ){
                        width: 80%;
                    }

                }

            }

        }

    }

    &-size-20{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%;
        }

        @include media-min( $screen-md ){
            width: 20%;
        }

    }

    &-size-30{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%;
        }

        @include media-min( $screen-md ){
            width: 30%;
        }

    }

    &-size-50{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%
        }

        @include media-min( $screen-md ){
            width: 50%;
        }

    }

    &-size-40{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%;
        }

        @include media-min( $screen-md ){
            width: 40%;
        }

    }

    &-size-70{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%;
        }

        @include media-min( $screen-md ){
            width: 70%;
        }

    }

    &-size-80{
        width: 100%;

        @include media-min( $screen-sm ){
            width: 80%;
        }

    }

    &-text.ready-only{

        input[type="text"]:disabled{
            background-color: transparent;
            border: none;
        }

    }

}

.upload{

    &-preview{
        @include border-radius( 50% );

        height: 160px;
        margin: 40px auto;
        width: 160px;
    }

    &-button{
        position: relative;
    }

}

.select{

    &-case{
        position: relative;
    }

    &-active{
        margin-top: 8px;
        display: inline-block;

        @include media-min( $screen-xs ){
            margin-top: 11px;
        }

    }

    &-visible {
        height: 40px;
        padding: 0 50px 0 15px;
        border: 1px solid $gray-ef;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        position: relative;

        @include media-min( $screen-xs ){
            height: 48px;
        }

        @include media-min( $screen-sm ){
            padding: 0 50px 0 20px;
        }

        &:before{
            @include transform( rotate( 45deg ) );

            border-bottom: 3px solid $primary-color-dark;
            border-right: 3px solid $primary-color-dark;
            height: 11px;
            pointer-events: none;
            width: 11px;

            content: "";
            position: absolute;
            right: 15px;
            top: 11px;

            @include media-min( $screen-xs ){
                height: 13px;
                width: 13px;

                top: 13px;
            }

        }

    }

    &-hidden-items{
        background-color: $white;
        cursor: pointer;
        display: none;
        max-height: 300px;
        list-style-type: none;
        max-width: 100%;
        max-width: 100%;
        overflow-x: auto;
        padding: 10px 20px;
        width: 100%;

        left: 0;
        position: absolute;
        top: 48px;
        z-index: 1;
    }

    &-hidden-items li{
        padding: 10px 0;
        border-bottom: 1px solid $gray-ef;

        &:last-of-type{
            border-bottom: none;
        }

        &:hover,
        &.selected{
            color: $primary-color;
        }

    }

}

input[type="text"]:disabled{
    background-color: $gray-f2;
    border: 1px solid $gray-ef;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: $primary-color-dark;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
