.modal{

	display: none;
	overflow: auto;

	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 111;

	&:before,
	&:after{
		@include transition( all,0.6s );

		background-color: rgba( $gray-64, 0.9 );
		opacity: 0;
		width: 50%;

		bottom: 0;
		content: '';
		top: 0;
	    position: fixed;
	}

	&:before{ left: -50%; }
	&:after{ right: -50%; }

	&.is-show{

		&:before,
		&:after{
			opacity: 1;
		}

		&:before{ left: 0; }
		&:after{ right: 0;}

	}

	.btn-close{
		border: medium none;
		cursor: pointer;
		height: 25px;
		margin: auto;
		padding: 0;
		width: 25px;

		left: auto;
		position: absolute;
		right: 10px;
		top: 16px;

		z-index: 1;

		&,
		&:hover{
			background-color: transparent;
		}

		@include media-min( $screen-sm ){
			right: 15px;
		}

		span{

			@include transition( all, 0.3s )

			background-color: $primary-color-dark;
			display: inherit;
			height: 2px;
			width: 20px;

			left: 2px;
			top: 13px;
		    position: absolute;

			@include media-min( $screen-sm ){


			}

			&:first-child{ @include transform( rotate(-45deg) ); }
			&:last-child{ @include transform( rotate( 45deg ) ); }

		}

	}

	&-header{
		background-color: $gray-f9;
		border-bottom: $gray-e0;

		&-title{
			padding: 15px 50px 15px 25px;
		}

	}

	&-open{
		overflow: hidden;

		.modal{
			overflow-x: hidden;
			overflow-y: auto;
		}

	}

	&-container{
		margin: 30px auto;
		width: 90%;

		left: 0;
		position: absolute;
		right: 0;
		z-index: 11;

		@include media-min( $screen-sm ){
			margin: 100px auto;
			padding-left: 0;
			padding-right: 0;
			width: 750px;
		}

	}

	&-content{
		background-color: $white;
		padding: 30px;
		@include media-min( $screen-sm ){
		    padding: 25px;
		}

		.figure-direction {
		    margin-bottom: 10px;
		}

		.figure-box-section{
			display: inline-block;
			width: 100%;

			&.modal-2-col{
				margin-bottom: 10px;

				.figure-direction{
					float: left;
					width: 100%;

					@include media-min( $screen-sm ){
						width: 50%;
						padding-right: 50px;
					}


					&:last-of-type{
						padding-right: 0;
					}

					div:first-of-type{
						margin-bottom: 15px;
					}

				}

				.read-only{
					display: none;

					@include media-min( $screen-sm ){
						display: inline-block;
					}

				}


			}

		}

	}

}
