.nav-block{
    margin-bottom: 30px;

    @include media-min( $screen-sm ){
        margin-bottom: 0;
    }

    a{
        color: $gray-64;

        &:hover{
            color: $primary-color;
            text-decoration: none;
        }

    }

    li{
        margin-bottom: 10px;
    }

}
