.divider{
    border-top: 1px solid $gray-e0;
    clear: both;
    margin: 30px 0;
    width: 100%;
}

.highlight{
    color: $primary-color;
    font-weight: 700;
    letter-spacing: 1px;
}

.read-only{
    opacity: 0;
    pointer-events: none;
}
