
@mixin media-min( $min ) {
	@media screen and (min-width: #{ $min }) {
		@content;
	}
}

@mixin media-between( $min, $max ) {
	@media screen and ( min-width: #{$min} ) and ( max-width: #{$max} ) {
		@content;
	}
}

@mixin media-max( $max ) {
	@media  screen and ( max-width: #{$max} ) {
		@content;
	}
}

@mixin transition( $transition... ) {
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin center-image{
	display: block;
	height: auto;
	width: 100%;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	bottom: -9999px;
	left: -9999px;
	position: absolute;
	right: -9999px;
	top: -9999px;
	object-fit: cover;
}

@mixin delay( $delay ){
	-webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin animation-delay( $value ){
	-webkit-animation-delay: $value;
    -moz-animation-delay: $value;
    -o-animation-delay: $value;
    animation-delay: $value;
}

@mixin bg-norepeat{
	background-repeat: no-repeat;
}

@mixin bg-cover{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin background-cover-center {
	@include bg-norepeat;
	@include bg-cover;

	background-position: center;
}

@mixin background-size( $size ) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin transform ($rotate) {
	-ms-transform: $rotate;
	-webkit-transform: $rotate;
	transform: $rotate;
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin vertical-align( $position: relative ) {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: $position;
	top: 50%;
}

@mixin textnone () {
	line-height: 0;
	font-size: 0;
	color: transparent;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin box-sizing ( $bs ) {
	-webkit-box-sizing: $bs;
	-moz-box-sizing: $bs;
	box-sizing: $bs;
}

@mixin appearance ( $ap ) {
	-webkit-appearance: $ap;
	-moz-appearance:    $ap;
	appearance:         $ap;
}

@mixin input-boxshadow{
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
}
