$font-path: '../../dist/fonts/';

/* Colors */
$white:			   		#ffffff;
$black: 				#000000;

$primary-color: 		#a4c84b;
$primary-color-dark:    #37a000;
$primary-color-light:   #d1d7a9;
$secondary-color:       #f6547d;
$secondary-color-light: #fa7c9d;
$tertiary-color:        #1a2959;
$tertiary-color-light:  #596e89;

$gray:					#cccccc;
$gray-f9:               #f9f9f9;
$gray-e0:               #e0e0e0;
$gray-ef:               #efefef;
$gray-f2:               #f2f2f2;
$gay-22:                #222222;
$gray-64:               #646663;
$body:                  #f2f2f2;

/* Font Family */
$font-family-heading: 	'Montserrat', sans-serif;

/* Fonts */
$text-color:			#333333;

/* Font size */
$font-size-base:		16px;
$font-size-mobile:		12px;

$screen-lg:				1200px;
$screen-md:				992px;
$screen-sm:				768px;
$screen-xs:				580px;
$screen-xss:			400px;
