.figure{

    &-main{
        margin-top: 80px;

        @include media-min( $screen-sm ){
            margin-top: 90px;
        }

        @include media-min( $screen-md ){
            margin-top: 110px;
        }

    }

    &-case{
        background-color: $white;
        margin-bottom: 50px;
        margin-top: 20px;

        @include media-min( $screen-sm ){
            margin-top: 30px;
        }

    }

    &-header{ background-color: $gray-f9; }

    &-box{
        padding: 20px 15px;
        border-bottom: 1px solid $gray-e0;

        @include media-min( $screen-md ){
            padding: 30px;
        }

        &:last-of-type{ border-bottom: none; }

        &-title{ margin-bottom: 25px; }

    }

    &-direction{ margin-bottom: 20px; }

    &-box-section{
        margin-bottom: 35px;

        &:last-of-type{ margin-bottom: 0; }

    }

}
