.header{

    &-bar{
        background-color: $white;
        height: $spacer-5;
        width: 100%;

        left: 0;
        position: fixed;
        top: 0;
        z-index: 11;
    }

    &-logo{
        width: 45px;

        left: $spacer-4;
        position: absolute;
        top: -9px;
    }

    &-action{
        float: right;

        li{
            float: left;
            margin-left: 7px;

            @include media-min( $screen-xss ){
                margin-left: 15px;
            }

            &:first-of-type{
                margin-left: 0;
            }

        }

        .button{
            font-size: 1.2rem;
        }

    }

    .grid-col-2{
        top: 18px;
    }

    .grid-col-8{
        top: $spacer;
    }

    .icon{
        font-size: $spacer-2;
        margin-top: 6px;

        &:hover{
            color: $primary-color;
        }

    }

    &-lang{
        margin-top: 5px;

        img{
            @include border-radius( 2px );
        }

        li{
            position: relative;
            padding-right: 22px;
        }

        .icon{
            @include vertical-align( absolute );

            font-size: 15px;
            height: $spacer-2;
            margin-top: 0;

            right: 0;
        }

    }

}
