.figure{

    &-box-section{

        &.has-2-col{
            border-bottom: 1px solid $gray-e0;
            display: inline-block;
            margin-bottom: 15px;
            max-width: 100%;
            width: 800px;

            &:last-of-type{
                border-bottom: none;
                margin-bottom: 0;
            }

            .figure-direction{
                float: left;

                &:first-of-type{
                    width: 60%;
                }

                &:last-of-type{
                    width: 40%;

                    span{
                        position: absolute;
                    }

                }

            }

            input{
                text-align: right;
                width: 100%;
            }

            .input-case{
                padding-right: 35px;

                position: relative;
            }

            .per{
                right: 0;
                top: 13px;
            }

            .cash{
                color: $primary-color-dark;
                font-size: 21px;
                font-weight: 700;

                left: 20px;
                top: 4px;

                @include media-min( $screen-xs ){
                    font-size: 25px;
                }

            }

            &.is-one-liner .figure-direction:first-of-type{
                margin-top: 14px;
            }

        }

    }

    &-actions{
        margin-top: 5px;

        li{
            display: inline-block;
            margin-right: 5px;
            margin-top: 20px;
            text-align: center;
            width: 100%;

            @include media-min( $screen-sm ){
                text-align: left;
                width: auto;
            }

            @include media-min( $screen-md ){
                margin-right: 20px;
            }

            &:last-of-type{
                margin-right: 0;
            }

        }

        &.align-right{
            text-align: right;
        }

    }

}
