.fullwidth{

    &-thumbnail{
        width: 100%;
        padding-top: 90%;
    }

    &-thumbnail-3{

        .fullwidth-thumbnail{
            margin: auto;
            padding-top: 85%;
            width: 85%;
        }

    }

}
